/* Wrapper koji pokriva ceo ekran */
.profile-wrapper {
    margin-left: 120%;
    margin-top: 20%;
    width: 150%;
    height: 80%;
    display: flex;
    align-items: center; /* Vertikalni centar */
    justify-content: center; /* Horizontalni centar */
    background-color: #f0f9ff;; /* Da bude iznad svega ostalog */
}

.user-profile-card {
    background: #ffffff;
    width: 90%;
    max-width: 600px; /* Baš velika kartica */
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
    border: 2px solid #e0f2fe;
    text-align: center;
}

.profile-avatar {
    width: 130px;
    height: 130px;
    background: #0ea5e9;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 30px auto;
    box-shadow: 0 10px 25px rgba(14, 165, 233, 0.4);
}

.profile-header h2 {
    color: #0c4a6e;
    font-size: 2.5rem; /* Ogroman naslov */
    margin-bottom: 40px;
}

.info-row {
    text-align: left; /* Tekst unutar redova levo, radi preglednosti */
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f1f5f9;
}

.label {
    display: block;
    font-size: 1rem;
    color: #94a3b8;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px;
}

.value {
    font-size: 1.6rem; /* Baš čitljivi podaci */
    color: #1e293b;
    font-weight: 600;
}

.btn-edit {
    margin-top: 20px;
    background: #0ea5e9;
    color: white;
    border: none;
    padding: 18px 60px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: 100%; /* Dugme preko cele širine unutar paddinga */
}

.btn-edit:hover {
    background: #0284c7;
    transform: scale(1.02);
}