h2 {
  color: #c01919;
  font-weight: bold;
}

mat-dialog-content {
  font-size: 1.1rem;
  padding-bottom: 20px;
}

mat-dialog-actions {
  gap: 10px;
  padding-bottom: 15px !important;
}

/* Opciono: učini 'DA' dugme upečatljivijim */
button[color="warn"] {
  background-color: #ef4444 !important;
  color: white;
}